body{
  background-image: url(images/sports-large.jpg);
  background-repeat: no-repeat;
}
h1{
  font-size: 70px;
  font-family: fantasy;
  color: cyan;
  padding-left: 30px;
  text-shadow: 2px white;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
ul li a{
  color: brown;
  font-size: 20px;
}
/*input{
 margin-top: 15px;
 width: 400px;
 height: 45px;
 border-radius: 5px;
}*/
#search-button{
 height: 45px;
 margin-top: 15px;
 width: 80px;
 border-radius: 5px;
}
.right{
 float: right;
 margin-right: 20px;
}
li{
 margin: 5px;
 height: 50px;
 width: 180px;
 border-radius: 5px;
 font-family: fantasy;
}
#map{
  margin-top: 5px;
  height: 1100px;
  width: 1950px;
  display: block;
  /*margin: 50px;*/
  float: left;
  box-sizing: border-box;
}
.listitem li{
  font-size: 20px;
}
#ticketBox {
  /*background-image: url(images/nflback2.jpg);*/
  background-repeat: no-repeat;
  color:maroon;
  margin-top: 50px;
  float: left;
  width: 30%;
  left: 70%;
  height: 45%;
  position: absolute;
  padding: 2%;
  padding-top: 40px;
  overflow: auto;
  box-sizing: border-box;
  background-color: #cccccc ;
  border-radius: 5px;
}

.tabs-left { margin-top: 6rem; }

.nav-tabs {
  float: left;
  border-bottom: 0;
}S
